
.imagess{
    /* border: 1px solid black; */
    margin: 10px 10px;
    padding: 5px;
    margin-top: 20px;
    box-shadow: 10px 15px 20px gray;
    background-color:rgb(236, 233, 230);
    height: 510px;
}
.card-img{
    width: 280px;
    height: 180px;
}
.imagess h3{
    color: rgb(31, 27, 27);
}
.imagess p{
    color: rgb(44, 15, 15);
    font-weight: 600;
}



